﻿@{
    ViewBag.Title = "Home Page";
}

<script src="https://api-maps.yandex.ru/2.1/?apikey=<578f9d52-45e7-4435-a825-52b924bccd19>&load=Map&lang=ru_RU" type="text/javascript"></script>





<div class="row">
    <div class="col-md-4">
        <div id="YMaps" style="height: 830px; width:1000px;"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/scripts/Cars.js")
}